/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: honeydew;
  }
  
  h1 {
    font-size: 40px;
  } 


/* Giving our navbar some padding and a background color */
.navbar {
    padding: 10px;
    background: #7FFFD4;
  }
  
/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: honeydew;
    border-radius: 3px;
  }
  
/* Getting rid of the default link styles here */
.navbar li a {
    color: #000;
    text-decoration: none;
  }

/* Styling the header, giving it a height, a background color, and some top padding */
.header {
    height:90px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #cdcdcd;
  }
  


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #7FFFD4;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }